/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

header {
    padding: 10px;
    background-color: #0a1e87;
    margin: 0px;
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
}

header h1 {
    text-align: center;
    color: #ffffff;
    /* padding: 19px; */
   
}
nav {
    padding: 3px;
    display: flex;
    justify-content: space-around;
    
}
nav a {
    text-decoration: none;
    color: #71798a;
    font-weight: bold;
    transition: 0.4s;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 7px -1px #FFFFFF;
}

nav a:hover {
    color: rgb(196, 196, 196);
}

.main-content {
    display: flex;
    background-color: #61616165;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
#noticias{
    width: 70%;

    text-align: center;
    margin: 0 auto;

}
.test {
    width: 20%;
    margin: 20px;

}
#fut {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
}

#fut h2 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* 
#fut article {
    margin-left: 50px;
} */

.div-container {
    display: flex;
    flex-direction: column;
}

#logo-fut {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

#img-container {
    width: 200px;
}

main {
    padding: 10px;
    background-color: gray;
    margin: 0px;
    padding-top: 150px;
    
}

article {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

article aside {
    background-color: rgb(196, 195, 195);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 1px;
}
.politic{
    width: 70%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}